@charset "utf-8";

@use "../function" as *;

.u-show_desktop {
	@include breakMax($breakTablet) {
		display: none !important;
	}
}
.u-hide_desktop {
	@include breakMin($breakTablet) {
		display: none !important;
	}
	@media print {
		display: none !important;
	}
}
.u-show_tablet {
	@include breakMin($breakSmart) {
		display: none !important;
	}
	@include breakMax($breakSmart) {
		display: none !important;
	}
	@media print {
		display: none !important;
	}
}
.u-hide_tablet {
	@include break($breakSmart, $breakTablet) {
		display: none !important;
	}
}
.u-show_media {
	@include breakMin($breakTablet) {
		display: none !important;
	}
	@media print {
		display: none !important;
	}
}
.u-hide_media {
	@include breakMax($breakTablet) {
		display: none !important;
	}
}
.u-print_hide {
	@media print {
		display: none !important;
	}
}
