@charset "UTF-8";
html {
  overflow-y: scroll;
}

body {
  line-height: 1;
  color: #000;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 500;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

table {
  font-size: inherit;
  font: 100%;
}

pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

select,
input,
button,
textarea {
  font: 99% arial, helvetica, clean, sans-serif;
  border-radius: 0;
}

select,
input,
button,
textarea {
  font: 99% arial, helvetica, clean, sans-serif;
  border-radius: 0;
  border: none;
  outline: none;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=submit],
input[type=button],
textarea {
  -webkit-appearance: none;
}

:focus {
  outline: none;
}

@-ms-viewport {
  width: device-width;
}
html {
  font-size: 62.5%;
  letter-spacing: 0em;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}
@media print {
  html html {
    background-image: none;
    background-color: #fff;
  }
}

body {
  width: 100%;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-text-size-adjust: 100%;
}
@media print {
  body {
    _zoom: 80%;
    -webkit-print-color-adjust: exact;
  }
}

a,
a:before,
a:after,
a img,
button,
button:before,
button:after,
.u-transition,
.u-transition_before:before,
.u-transition_after:after {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

a,
input,
button {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-touch-callout: none;
}

a,
button {
  cursor: pointer;
}

a {
  color: #1b1b1b;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
@media screen and (min-width: 1023px) {
  a[href*="tel:"] {
    pointer-events: none;
    text-decoration: none;
    cursor: default;
  }
}

button {
  cursor: pointer;
  background: none;
  padding: 0;
  outline: none;
}

img {
  overflow: hidden;
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background: #ffd900;
}

::selection {
  color: #fff;
  background: #ffd900;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  background-color: #aeaeae;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W0);
  font-weight: 100;
}
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W1);
  font-weight: 200;
}
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W2);
  font-weight: 300;
}
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W3);
  font-weight: 400;
}
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W4);
  font-weight: 500;
}
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W5);
  font-weight: 500;
}
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W6);
  font-weight: 700;
}
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W7);
  font-weight: 800;
}
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W8);
  font-weight: 900;
}
@font-face {
  font-family: "Hiragino Sans W9";
  src: local(HiraginoSans-W9);
  font-weight: 900;
}
body,
select,
input,
button,
textarea,
:before,
:after,
.u-font_gothic,
.u-font_gothicBefore:before,
.u-font_gothicAfter:after,
.u-font_gothic select,
.u-font_gothic input,
.u-font_gothic button,
.u-font_gothic textarea,
.ui-widget {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothicM", "YuGothicM", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, メイリオ, "ＭＳ ゴシック", sans-serif;
  font-family: "Archivo", "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
  -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}
.wf-active body,
.wf-active select,
.wf-active input,
.wf-active button,
.wf-active textarea,
.wf-active :before,
.wf-active :after,
.wf-active .u-font_gothic,
.wf-active .u-font_gothicBefore:before,
.wf-active .u-font_gothicAfter:after,
.wf-active .u-font_gothic select,
.wf-active .u-font_gothic input,
.wf-active .u-font_gothic button,
.wf-active .u-font_gothic textarea,
.wf-active .ui-widget {
  font-family: "Archivo", "Zen Kaku Gothic Antique", sans-serif;
}

.u-font_mincho,
.u-font_minchoBefore:before,
.u-font_minchoAfter:after {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
}
.u-font_Roboto, .u-font_Roboto--content_before:before, .u-font_Roboto--content_after:after {
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes u-key_poyooon {
  0% {
    -webkit-transform: scale(1, 1) translate(0%, 0%);
            transform: scale(1, 1) translate(0%, 0%);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translate(0%, 5%);
            transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  40% {
    -webkit-transform: scale(1.2, 0.8) translate(0%, 15%);
            transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  50% {
    -webkit-transform: scale(1, 1) translate(0%, 0%);
            transform: scale(1, 1) translate(0%, 0%);
  }
  60% {
    -webkit-transform: scale(0.9, 1.2) translate(0%, -50%);
            transform: scale(0.9, 1.2) translate(0%, -50%);
  }
  75% {
    -webkit-transform: scale(0.9, 1.2) translate(0%, -20%);
            transform: scale(0.9, 1.2) translate(0%, -20%);
  }
  85% {
    -webkit-transform: scale(1.2, 0.8) translate(0%, 15%);
            transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0%, 0%);
            transform: scale(1, 1) translate(0%, 0%);
  }
}

@keyframes u-key_poyooon {
  0% {
    -webkit-transform: scale(1, 1) translate(0%, 0%);
            transform: scale(1, 1) translate(0%, 0%);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translate(0%, 5%);
            transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  40% {
    -webkit-transform: scale(1.2, 0.8) translate(0%, 15%);
            transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  50% {
    -webkit-transform: scale(1, 1) translate(0%, 0%);
            transform: scale(1, 1) translate(0%, 0%);
  }
  60% {
    -webkit-transform: scale(0.9, 1.2) translate(0%, -50%);
            transform: scale(0.9, 1.2) translate(0%, -50%);
  }
  75% {
    -webkit-transform: scale(0.9, 1.2) translate(0%, -20%);
            transform: scale(0.9, 1.2) translate(0%, -20%);
  }
  85% {
    -webkit-transform: scale(1.2, 0.8) translate(0%, 15%);
            transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0%, 0%);
            transform: scale(1, 1) translate(0%, 0%);
  }
}
@-webkit-keyframes u-key_fluffy {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes u-key_fluffy {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-show_desktop {
    display: none !important;
  }
}

@media screen and (min-width: 1023px) {
  .u-hide_desktop {
    display: none !important;
  }
}
@media print {
  .u-hide_desktop {
    display: none !important;
  }
}

@media screen and (min-width: 479px) {
  .u-show_tablet {
    display: none !important;
  }
}
@media screen and (min-width: 1px) and (max-width: 479px) {
  .u-show_tablet {
    display: none !important;
  }
}
@media print {
  .u-show_tablet {
    display: none !important;
  }
}

@media screen and (min-width: 479px) and (max-width: 1023px) {
  .u-hide_tablet {
    display: none !important;
  }
}

@media screen and (min-width: 1023px) {
  .u-show_media {
    display: none !important;
  }
}
@media print {
  .u-show_media {
    display: none !important;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-hide_media {
    display: none !important;
  }
}

@media print {
  .u-print_hide {
    display: none !important;
  }
}

.u-inner, .g-message {
  display: block;
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-inner, .g-message {
    max-width: 540px;
  }
}
.u-inner--width_1100 {
  max-width: 1140px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-inner--width_1100 {
    max-width: 540px;
  }
}
.u-inner--width_860 {
  max-width: 900px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-inner--width_860 {
    max-width: 540px;
  }
}
.u-inner_child {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.u-inner_child--width_1000 {
  max-width: 1000px;
}
.u-inner_child--width_760 {
  max-width: 760px;
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-inner_child--width_1000 {
    max-width: 1000px;
  }
}
.u-mgt_300 {
  margin-top: 300px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgt_300 {
    margin-top: 200px;
  }
}

.u-mgt_260 {
  margin-top: 260px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgt_260 {
    margin-top: 180px;
  }
}

.u-mgt_200 {
  margin-top: 200px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgt_200 {
    margin-top: 140px;
  }
}

.u-mgt_160 {
  margin-top: 160px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgt_160 {
    margin-top: 110px;
  }
}

.u-mgt_140 {
  margin-top: 140px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgt_140 {
    margin-top: 90px;
  }
}

.u-mgt_120 {
  margin-top: 120px;
}
.u-mgt_100 {
  margin-top: 100px;
}
.u-mgt_90 {
  margin-top: 90px;
}
.u-mgt_80 {
  margin-top: 80px;
}
.u-mgt_70 {
  margin-top: 70px;
}
.u-mgt_60 {
  margin-top: 60px;
}
.u-mgt_50 {
  margin-top: 50px;
}
.u-mgt_40 {
  margin-top: 40px;
}
.u-mgt_30 {
  margin-top: 30px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgt_30 {
    margin-top: 20px;
  }
}

.u-mgt_20 {
  margin-top: 20px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgt_20 {
    margin-top: 15px;
  }
}

.u-mgt_15 {
  margin-top: 15px;
}
.u-mgt_10 {
  margin-top: 10px;
}
.u-mgt_5 {
  margin-top: 5px;
}
.u-mgt_-40 {
  margin-top: -40px;
}
.u-mgt_-20 {
  margin-top: -20px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgt_70 {
    margin-top: 70px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgt_60 {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgt_50 {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgt_40 {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgt_30 {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgt_25 {
    margin-top: 25px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgt_20 {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgt_15 {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgt_10 {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgt_0 {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgt_-80 {
    margin-top: -80px;
  }
}

.u-mgb_200 {
  margin-bottom: 200px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgb_200 {
    margin-bottom: 100px;
  }
}

.u-mgb_160 {
  margin-bottom: 160px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgb_160 {
    margin-bottom: 110px;
  }
}

.u-mgb_140 {
  margin-bottom: 140px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgb_140 {
    margin-bottom: 90px;
  }
}

.u-mgb_80 {
  margin-bottom: 80px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgb_80 {
    margin-bottom: 60px;
  }
}

.u-mgb_70 {
  margin-bottom: 70px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgb_70 {
    margin-bottom: 50px;
  }
}

.u-mgb_60 {
  margin-bottom: 60px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgb_60 {
    margin-bottom: 40px;
  }
}

.u-mgb_30 {
  margin-bottom: 30px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-mgb_30 {
    margin-bottom: 20px;
  }
}

.u-mgb_-20 {
  margin-bottom: -20px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgb_50 {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-mgb_-80 {
    margin-bottom: -80px;
  }
}

.u-mgl_default {
  margin-left: 20px;
}
.u-pdt_160 {
  padding-top: 160px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdt_160 {
    padding-top: 110px;
  }
}

.u-pdt_140 {
  padding-top: 140px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdt_140 {
    padding-top: 90px;
  }
}

.u-pdt_150 {
  padding-top: 150px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdt_150 {
    padding-top: 100px;
  }
}

.u-pdt_100 {
  padding-top: 100px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdt_100 {
    padding-top: 70px;
  }
}

.u-pdt_90 {
  padding-top: 90px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdt_90 {
    padding-top: 60px;
  }
}

.u-pdt_80 {
  padding-top: 80px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdt_80 {
    padding-top: 50px;
  }
}

.u-pdt_70 {
  padding-top: 70px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdt_70 {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-pdt_70 {
    padding-top: 70px;
  }
}

.u-pdt_60 {
  padding-top: 60px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdt_60 {
    padding-top: 40px;
  }
}

.u-pdt_50 {
  padding-top: 50px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdt_50 {
    padding-top: 30px;
  }
}

.u-pdt_30 {
  padding-top: 30px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-pdt_0 {
    padding-top: 0;
  }
}

.u-pdb_180 {
  padding-bottom: 180px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdb_180 {
    padding-bottom: 140px;
  }
}

.u-pdb_160 {
  padding-bottom: 160px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdb_160 {
    padding-bottom: 110px;
  }
}

.u-pdb_140 {
  padding-bottom: 140px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdb_140 {
    padding-bottom: 90px;
  }
}

.u-pdb_100 {
  padding-bottom: 100px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdb_100 {
    padding-bottom: 80px;
  }
}

.u-pdb_80 {
  padding-bottom: 80px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-pdb_80 {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-pdb_100 {
    padding-bottom: 100px;
  }
}

.u-text_normal {
  font-weight: 300;
}

.u-text_bold {
  font-weight: 700;
}

.u-text_italic {
  font-style: italic;
}

.u-text_center {
  text-align: center;
}

.u-text_left {
  text-align: left;
}

.u-text_right {
  text-align: right;
}

.u-text_sup {
  font-size: 70%;
  vertical-align: top;
  position: relative;
  top: -0.1em;
}

.u-text_sub {
  font-size: 70%;
  vertical-align: bottom;
  position: relative;
  top: 0.1em;
}

.u-text_indent {
  text-indent: 1em;
}

.u-text_large {
  font-size: 110%;
}

.u-text_small {
  font-size: 80%;
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u_m-text_center {
    text-align: center;
  }
  .u_m-text_left {
    text-align: left;
  }
  .u_m-text_right {
    text-align: right;
  }
  .u_m-text_large {
    font-size: 110%;
  }
  .u_m-text_small {
    font-size: 80%;
  }
}
.u-text_marker {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #ffd900));
  background: linear-gradient(transparent 60%, #ffd900 60%);
}

.u-color_default {
  color: #1b1b1b;
}

.u-color_main {
  color: #ffd900;
}

.u-color_red {
  color: #f00;
}

.u-lead, .u-copy, .u-copy2, .u-text, .u-lead2 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 2;
  text-align: justify;
}
.u-lead a, .u-copy a, .u-copy2 a, .u-text a, .u-lead2 a {
  color: #ffd900;
}
.u-lead2 {
  font-size: 14px;
  font-size: 1.4rem;
}

.u-text {
  font-size: 12px;
  font-size: 1.2rem;
}

.u-copy, .u-copy2 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
}

.u-copy2 {
  font-size: 20px;
  font-size: 2rem;
}

.u-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.u-scrollbar::-webkit-scrollbar-track {
  background-color: #e3e3e3;
}
.u-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffd900;
}

.u-scrollon {
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}
.u-scrollon--type_reverse {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.u-scrollon.is-scrollon_active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.u-typewriter_string {
  display: inline-block;
}
.u-typewriter_string > * {
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.u-typewriter_string > *.is-typewriter_active {
  opacity: 1;
}

.u-anchor {
  padding-top: 80px;
  margin-top: -80px;
}
img.u-img_border {
  border: solid 1px #c0c0c0;
}
.u-figure a {
  display: block;
}
.u-figure img {
  max-width: 100%;
}
.u-figure_note {
  display: none;
  margin-top: 10px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-figure_note {
    display: block;
  }
}

.u-area {
  padding: 30px;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-area {
    padding: 20px;
  }
}

.u-icon {
  display: inline-block;
  margin-right: 0.25em;
  padding: 0.15em 0.5em;
  background-color: #c73b3b;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 4px;
}
.u-grid_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -15px;
}
.u-grid_cell {
  display: block;
  padding: 15px;
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-table--m-layout_column .u-table_row {
    display: block;
  }
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  .u-table--m-layout_column .u-table_head, .u-table--m-layout_column .u-table_body {
    display: block;
  }
}
.u-table_head {
  padding-right: 1em;
}
@media screen and (min-width: 1px) and (max-width: 1023px) {
  html.is-menu_open {
    overflow: hidden !important;
  }
}

html.is-sessio_no-concerned {
  overflow: hidden;
}
.g-body {
  background: #fff;
  color: #1b1b1b;
}
@media print {
  .g-body {
    background-image: none;
    background-color: #fff;
  }
}

.g-wrapper {
  overflow: hidden;
}
.g-content {
  margin-top: 50px;
}
@media screen and (min-width: 1023px) {
  .g-content {
    margin-top: 80px;
  }
}

.g-main {
  min-height: calc(100vh - 300px);
  min-height: calc(100svh - 300px);
  padding-top: 40px;
}
.g-header_inner {
  max-width: none;
}
@media screen and (min-width: 1023px) {
  .g-header_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
  }
}
.g-header_main {
  display: block;
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid #1b1b1b;
}
@media screen and (min-width: 1023px) {
  .g-header_main {
    margin-left: 0;
    margin-top: 0;
    border-bottom: none;
  }
}
.g-header_title {
  display: block;
  height: 60px;
  font-size: 27px;
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1023px) {
  .g-header_title {
    height: auto;
    font-size: 32px;
    font-size: 3.2rem;
  }
}
.g-header_title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
@media screen and (min-width: 1023px) {
  .g-header_title a {
    display: inline-block;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.g-header_title a:hover {
  color: #ffd900;
}
.g-header_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
@media screen and (min-width: 1023px) {
  .g-header_side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 0;
  }
}
.g-header_status {
  display: block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: rgba(27, 27, 27, 0.1);
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 20px;
}
@media screen and (min-width: 1023px) {
  .g-header_status {
    margin-bottom: 15px;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: right;
  }
}
.g-footer {
  display: block;
  margin-top: 60px;
  height: 60px;
  border-top: 1px solid #1b1b1b;
}
@media screen and (min-width: 1023px) {
  .g-footer {
    margin-top: 100px;
    height: 100px;
  }
}
.g-footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.g-footer_copy {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 1023px) {
  .g-footer_copy {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.g-nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.g-nav_item {
  display: block;
  margin-left: 20px;
}
.g-nav_item:first-child {
  margin-left: 0;
}
.g-nav_item a {
  text-decoration: none;
}
.g-nav_box {
  display: block;
  position: relative;
  padding-right: 20px;
}
.g-nav_box:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  border: solid 2px transparent;
  border-top-color: #1b1b1b;
  border-right-color: #1b1b1b;
  -webkit-transform: rotate(45deg) translate(-50%, -25%);
          transform: rotate(45deg) translate(-50%, -25%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.g-nav_box:hover {
  color: #ffd900;
}
.g-nav_box:hover:after {
  right: -10px;
  border-top-color: #ffd900;
  border-right-color: #ffd900;
}
.g-nav_name {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.g-breadcrumb_frame {
  overflow-x: auto;
  word-break: keep-all;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.g-breadcrumb_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.g-breadcrumb_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
}
.g-breadcrumb_item a {
  text-decoration: none;
}
.g-breadcrumb_item a:hover {
  opacity: 0.7;
}
.g-breadcrumb_item:before {
  content: ">";
  margin: 0 0.5em;
  opacity: 0.5;
}
.g-breadcrumb_item:first-child:before {
  display: none;
}
.g-breadcrumb_item:last-child {
  padding-right: 20px;
}
.g-breadcrumb_item:last-child a {
  color: #1b1b1b;
  cursor: default;
  pointer-events: none;
}
.g-breadcrumb_item:last-child a:hover {
  opacity: 1;
}
.g-breadcrumb_box {
  display: inline-block;
}
.g-breadcrumb_item:first-child .g-breadcrumb_box {
  color: #ffd900;
}
.g-breadcrumb_name {
  font-weight: 400;
  opacity: 0.5;
}
.g-breadcrumb_item:last-child .g-breadcrumb_name {
  opacity: 1;
}

.g-title {
  margin-bottom: 30px;
}
.g-title_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.g-title_name {
  display: block;
  position: relative;
  padding: 10px 30px;
  font-size: 42px;
  font-size: 4.2rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 1023px) {
  .g-title_name {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 72px;
    font-size: 7.2rem;
  }
}
.g-title_name:before, .g-title_name:after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: solid 1px transparent;
}
@media screen and (min-width: 1023px) {
  .g-title_name:before, .g-title_name:after {
    width: 65px;
    height: 65px;
  }
}
.g-title_name:before {
  top: 0;
  left: 0;
  border-top-color: #1b1b1b;
  border-left-color: #1b1b1b;
}
.g-title_name:after {
  bottom: 0;
  right: 0;
  border-bottom-color: #1b1b1b;
  border-right-color: #1b1b1b;
}

.g-message {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1023px) {
  .g-message {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.g-message ul {
  display: block;
}
.g-message li {
  display: block;
  margin-top: 10px;
  padding: 15px 20px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 10px;
}
@media screen and (min-width: 1023px) {
  .g-message li {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
.g-message li:first-child {
  margin-top: 0;
}
.g-message li.is-type_info {
  color: #7fc73b;
  background-color: rgba(127, 199, 59, 0.15);
}
.g-message li.is-type_error, .g-message li.is-type_debug {
  color: #c73b3b;
  background-color: rgba(199, 59, 59, 0.15);
}

.c-heading {
  display: block;
  padding-bottom: 15px;
  border-bottom: 4px double #1b1b1b;
}
.c-heading a {
  text-decoration: none;
}
.c-heading a:after {
  display: block;
}
.c-heading a:hover {
  color: #ffd900;
}
.c-heading_box {
  display: block;
  position: relative;
  padding-right: 20px;
}
.c-heading_box:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  border: solid 2px transparent;
  border-top-color: #1b1b1b;
  border-right-color: #1b1b1b;
  -webkit-transform: rotate(45deg) translate(-50%, -25%);
          transform: rotate(45deg) translate(-50%, -25%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.c-heading_box:hover:after {
  right: -10px;
  border-top-color: #ffd900;
  border-right-color: #ffd900;
}
.c-heading_name {
  display: block;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 1023px) {
  .c-heading_name {
    font-size: 34px;
    font-size: 3.4rem;
  }
}

.c-heading2 a {
  text-decoration: none;
}
.c-heading2_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-heading2_name {
  display: block;
  position: relative;
  padding: 0 10px;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 1023px) {
  .c-heading2_name {
    font-size: 21px;
    font-size: 2.1rem;
  }
}
.c-heading2_name:before, .c-heading2_name:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 1px;
  height: 30px;
  background-color: #1b1b1b;
}
.c-heading2_name:before {
  left: 0;
  -webkit-transform: rotate(-30deg) translate(0, -50%);
          transform: rotate(-30deg) translate(0, -50%);
}
.c-heading2_name:after {
  right: 0;
  -webkit-transform: rotate(30deg) translate(0, -50%);
          transform: rotate(30deg) translate(0, -50%);
}

.c-list {
  margin-top: 60px;
}
.c-list_items {
  display: block;
  margin: -10px;
}
@media screen and (min-width: 1023px) {
  .c-list_items {
    margin: -15px;
  }
}
.c-list_item {
  display: block;
  padding: 10px;
}
@media screen and (min-width: 1023px) {
  .c-list_item {
    padding: 15px;
  }
}
.c-list_item a {
  text-decoration: none;
}
.c-list_box {
  display: block;
  position: relative;
}
.c-list_box:before, .c-list_box:after {
  content: "";
  display: block;
  position: absolute;
}
.c-list_box:before {
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  background-color: #ffd900;
  opacity: 0;
}
.c-list_box:after {
  top: 50%;
  right: 0px;
  width: 12px;
  height: 12px;
  border: solid 2px transparent;
  border-top-color: #1b1b1b;
  border-right-color: #1b1b1b;
  -webkit-transform: rotate(45deg) translate(-50%, -25%);
          transform: rotate(45deg) translate(-50%, -25%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
@media screen and (min-width: 1023px) {
  .c-list_box:after {
    right: 30px;
  }
}
.c-list_box:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.c-list_box:hover:after {
  right: -10px;
}
@media screen and (min-width: 1023px) {
  .c-list_box:hover:after {
    right: 20px;
  }
}
.c-list_column {
  position: relative;
  padding: 20px;
}
@media screen and (min-width: 1023px) {
  .c-list_column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 85px 20px 50px;
  }
}
.c-list_column:before, .c-list_column:after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: solid 1px transparent;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (min-width: 1023px) {
  .c-list_column:before, .c-list_column:after {
    width: 65px;
    height: 65px;
  }
}
.c-list_column:before {
  top: 0;
  left: 0;
  border-top-color: #1b1b1b;
  border-left-color: #1b1b1b;
}
.c-list_column:after {
  bottom: 0;
  right: 0;
  border-bottom-color: #1b1b1b;
  border-right-color: #1b1b1b;
}
.c-list_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1023px) {
  .c-list_head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.c-list_head > * {
  margin-top: 15px;
}
@media screen and (min-width: 1023px) {
  .c-list_head > * {
    margin-top: 0;
  }
}
.c-list_head > *:first-child {
  margin-top: 0;
}
.c-list_body {
  margin-top: 10px;
}
@media screen and (min-width: 1023px) {
  .c-list_body {
    margin-top: 0;
    margin-left: 20px;
  }
}
.c-list_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100px;
  height: 40px;
  color: #1b1b1b;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  white-space: nowrap;
  border: solid 3px #1b1b1b;
}
@media screen and (min-width: 1023px) {
  .c-list_group {
    margin-right: 15px;
  }
}
.c-list_group--type_enable {
  color: #7fc73b;
  border-color: #7fc73b;
}
.c-list_group--type_disable {
  color: #c73b3b;
  border-color: #c73b3b;
}
.c-list_title {
  display: block;
  font-size: 21px;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (min-width: 1023px) {
  .c-list_title {
    font-size: 28px;
    font-size: 2.8rem;
  }
}
.c-list_lead {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 1023px) {
  .c-list_lead {
    font-size: 22px;
    font-size: 2.2rem;
  }
}
.c-list_text {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
}
@media screen and (min-width: 1023px) {
  .c-list_text {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.c-table_table {
  width: 100%;
}
.c-table_tbody {
  display: block;
  margin: -20px 0;
}
@media screen and (min-width: 1023px) {
  .c-table_tbody {
    display: table-row-group;
    margin: 0;
  }
}
.c-table_row {
  display: block;
  position: relative;
  padding: 20px 0;
  border-top: solid 1px #1b1b1b;
}
@media screen and (min-width: 1023px) {
  .c-table_row {
    display: table-row;
    padding: 0;
  }
}
.c-table_row:first-child {
  border-top: none;
}
.c-table_head, .c-table_body {
  display: block;
  position: relative;
}
@media screen and (min-width: 1023px) {
  .c-table_head, .c-table_body {
    display: table-cell;
    padding: 50px 0;
  }
}
.c-table_row:first-child .c-table_head, .c-table_row:first-child .c-table_body {
  padding-top: 0;
}
.c-table_row:last-child .c-table_head, .c-table_row:last-child .c-table_body {
  padding-bottom: 0;
}
@media screen and (min-width: 1023px) {
  .c-table_head {
    width: 250px;
    padding-right: 50px;
    text-align: right;
  }
}
.c-table_body {
  margin-top: 10px;
}
@media screen and (min-width: 1023px) {
  .c-table_body {
    margin-top: 0;
  }
}
.c-table_title {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 1023px) {
  .c-table_title {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

.c-button a {
  text-decoration: none;
}
.c-button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 55px;
  padding: 0 30px;
  background-color: #ffd900;
  color: #1b1b1b;
  border-radius: 10px;
}
@media screen and (min-width: 1023px) {
  .c-button_box {
    height: 80px;
  }
}
.c-button_box:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 12px;
  height: 12px;
  border: solid 2px transparent;
  border-top-color: #1b1b1b;
  border-right-color: #1b1b1b;
  -webkit-transform: rotate(45deg) translate(-50%, -25%);
          transform: rotate(45deg) translate(-50%, -25%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.c-button_box:hover {
  background-color: #1b1b1b;
  color: #ffd900;
}
.c-button_box:hover:after {
  right: 10px;
  border-top-color: #ffd900;
  border-right-color: #ffd900;
}
.c-button_box[disabled] {
  pointer-events: none;
  background-color: #e3e3e3;
}
.c-button_label {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1023px) {
  .c-button_label {
    font-size: 20px;
    font-size: 2rem;
  }
}

.c-form_content, .c-form_frame {
  display: block;
  position: relative;
}
.c-form_content:before, .c-form_frame:before, .c-form_content:after, .c-form_frame:after {
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  border: solid 1px transparent;
  border-top-color: #1b1b1b;
}
@media screen and (min-width: 1023px) {
  .c-form_content:before, .c-form_frame:before, .c-form_content:after, .c-form_frame:after {
    width: 65px;
    height: 65px;
  }
}
.c-form_content:before, .c-form_frame:before {
  left: 0;
  border-left-color: #1b1b1b;
}
.c-form_content:after, .c-form_frame:after {
  right: 0;
  border-right-color: #1b1b1b;
}
.c-form_frame {
  padding: 20px;
}
@media screen and (min-width: 1023px) {
  .c-form_frame {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.c-form_frame:before, .c-form_frame:after {
  top: auto;
  bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #1b1b1b;
}
.c-form_table {
  margin: auto;
}
@media screen and (min-width: 1023px) {
  .c-form_table {
    width: 800px;
    max-width: 100%;
  }
}
.c-form_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.c-form_block > * {
  margin-top: 20px;
}
@media screen and (min-width: 1023px) {
  .c-form_block > * {
    margin-top: 30px;
  }
}
.c-form_block > *:first-child {
  margin-top: 0;
}
.c-form_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 1023px) {
  .c-form_bottom {
    margin-top: 60px;
  }
}
.c-form_bottom > * {
  margin-top: 20px;
}
@media screen and (min-width: 1023px) {
  .c-form_bottom > * {
    margin-top: 40px;
  }
}
.c-form_bottom > *:first-child {
  margin-top: 0;
}
.c-form_label {
  display: block;
  width: 100%;
  text-align: right;
}
.c-form_input > * {
  margin-top: 5px;
}
.c-form_input > *:first-child {
  margin-top: 0;
}
.c-form_textarea {
  width: 100%;
}
.c-form_note {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 1023px) {
  .c-form_note {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
.c-form_error {
  display: none;
  color: #c73b3b;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 1023px) {
  .c-form_error {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
.c-input_input.is-validate_invalid + .c-form_error {
  display: block;
}
.c-form_submit {
  width: 300px;
  margin: auto;
}
@media screen and (min-width: 1023px) {
  .c-form_submit {
    width: 500px;
  }
}
.c-input_input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  font-size: 16px;
  font-size: 1.6rem;
  border: solid 2px #1b1b1b;
}
.c-input_input.is-validate_invalid {
  background-color: rgba(199, 59, 59, 0.1);
  border-color: #c73b3b;
}

.c-textarea_textarea {
  resize: vertical;
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-size: 1.6rem;
  border: solid 2px #1b1b1b;
}
.c-radio_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -10px;
}
.c-radio_item {
  display: block;
  padding: 10px;
}
.c-radio_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.c-radio_label:hover {
  color: #ffd900;
}
.c-radio_input {
  position: absolute;
  visibility: hidden;
  z-index: -1;
}
.c-radio_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  border: solid 1px #1b1b1b;
  border-radius: 50%;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.c-radio_icon::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ffd900;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
input:checked + .c-radio_icon::before {
  opacity: 1;
}
.c-radio_label:hover .c-radio_icon {
  border-color: #ffd900;
}
.c-radio_name {
  display: block;
  margin-left: 10px;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
}
@media screen and (min-width: 1023px) {
  .c-radio_name {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

.c-select {
  position: relative;
}
.c-select:after {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 12px;
  height: 12px;
  border: solid 2px transparent;
  border-top-color: #1b1b1b;
  border-right-color: #1b1b1b;
  -webkit-transform: rotate(135deg) translate(-75%, 50%);
          transform: rotate(135deg) translate(-75%, 50%);
  -webkit-transform-origin: 25% 50%;
          transform-origin: 25% 50%;
}
.c-select_select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  font-size: 16px;
  font-size: 1.6rem;
  border: solid 2px #1b1b1b;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.c-select_select:hover {
  background-color: #ffd900;
}

.c-single_column {
  margin: -15px;
}
@media screen and (min-width: 1023px) {
  .c-single_column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: -30px;
  }
}
.c-single_visual {
  padding: 15px;
}
@media screen and (min-width: 1023px) {
  .c-single_visual {
    width: 50%;
    padding: 30px;
  }
}
.c-single_content {
  padding: 15px;
}
@media screen and (min-width: 1023px) {
  .c-single_content {
    width: 50%;
    padding: 30px;
  }
}
.c-single_graph {
  width: 100%;
}
.c-single_head {
  display: block;
}
.c-single_head > * {
  margin-top: 15px;
}
.c-single_head > *:first-child {
  margin-top: 0;
}
.c-single_title {
  display: block;
}
.c-single_title2 {
  display: block;
}
.c-single_note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.c-single_note > * {
  display: block;
  margin-left: 1em;
}
.c-single_note > *:first-child {
  margin-left: 0;
}
.c-single_text {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
.c-single_number {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 700;
}
@media screen and (min-width: 1023px) {
  .c-single_number {
    font-size: 40px;
    font-size: 4rem;
  }
}
.c-single_count {
  display: block;
  margin-top: 20px;
}
@media screen and (min-width: 1023px) {
  .c-single_count {
    margin-top: 40px;
  }
}
.c-single_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.c-single_form {
  display: block;
  width: 100%;
  margin-top: 20px;
}
.c-single_submit {
  margin-top: 20px;
}
.c-single_button {
  width: 300px;
}
@media screen and (min-width: 1023px) {
  .c-single_button {
    width: 350px;
  }
}

.c-counts_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -10px;
}
@media screen and (min-width: 1023px) {
  .c-counts_items {
    margin: -20px;
  }
}
.c-counts--size_small .c-counts_items {
  margin: -7.5px;
}
.c-counts_item {
  display: block;
  padding: 10px;
}
@media screen and (min-width: 1023px) {
  .c-counts_item {
    padding: 20px;
  }
}
.c-counts--size_small .c-counts_item {
  padding: 7.5px;
}
.c-counts_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  width: 120px;
  height: 120px;
  border: solid 5px #1b1b1b;
  border-radius: 50%;
}
@media screen and (min-width: 1023px) {
  .c-counts_box {
    width: 150px;
    height: 150px;
  }
}
.c-counts_box > *:first-child {
  margin-top: 0;
}
.c-counts--size_small .c-counts_box {
  width: 80px;
  height: 80px;
  border-width: 3px;
}
@media screen and (min-width: 1023px) {
  .c-counts--size_small .c-counts_box {
    width: 65px;
    height: 65px;
  }
}
.c-counts_item--type_like .c-counts_box {
  color: #7fc73b;
  border-color: #7fc73b;
}
.c-counts_item--type_dislike .c-counts_box {
  color: #c73b3b;
  border-color: #c73b3b;
}
.c-counts_number {
  display: block;
  font-size: 62px;
  font-size: 6.2rem;
  font-weight: 700;
}
.c-counts--size_small .c-counts_number {
  font-size: 34px;
  font-size: 3.4rem;
}
.c-counts_label {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.c-counts--size_small .c-counts_label {
  font-size: 14px;
  font-size: 1.4rem;
}
.c-link a {
  text-decoration: none;
}
.c-link_box {
  display: block;
  position: relative;
  padding-right: 20px;
}
.c-link_box:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  border: solid 2px transparent;
  border-top-color: #1b1b1b;
  border-right-color: #1b1b1b;
  -webkit-transform: rotate(45deg) translate(-50%, -25%);
          transform: rotate(45deg) translate(-50%, -25%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.c-link_box:hover {
  color: #ffd900;
}
.c-link_box:hover:after {
  right: -10px;
  border-top-color: #ffd900;
  border-right-color: #ffd900;
}
.c-link--layout_back .c-link_box {
  padding-left: 20px;
  padding-right: 0;
}
.c-link--layout_back .c-link_box:after {
  left: 0;
  right: auto;
  border-left-color: #1b1b1b;
  border-right-color: transparent;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
          transform: rotate(-45deg) translate(-50%, -50%);
  -webkit-transform-origin: 25% -100%;
          transform-origin: 25% -100%;
}
.c-link--layout_back .c-link_box:hover:after {
  left: -10px;
  border-left-color: #ffd900;
  border-right-color: transparent;
}
.c-link_label {
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
@media screen and (min-width: 1023px) {
  .c-link_label {
    font-size: 18px;
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=style.css.map */