@charset "utf-8";

@use '../function'as *;
@use '../utility'as *;

//* single
//* -------------------------------------------------- */
.c-single {
	@include breakMin($breakTablet) {}

	&_inner {}

	&_column {
		margin: -15px;

		@include breakMin($breakTablet) {
			display: flex;
			justify-content: space-between;
			margin: -30px;
		}
	}

	&_visual {
		padding: 15px;

		@include breakMin($breakTablet) {
			width: 50%;
			padding: 30px;
		}
	}

	&_content {
		padding: 15px;

		@include breakMin($breakTablet) {
			width: 50%;
			padding: 30px;
		}
	}

	&_graph {
		width: 100%;
	}

	&_head {
		display: block;

		>* {
			margin-top: 15px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&_title {
		display: block;
	}

	&_title2 {
		display: block;
	}

	&_note {
		display: flex;
		align-items: baseline;
		justify-content: flex-end;

		>* {
			display: block;
			margin-left: 1em;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&_text {
		@include fontsize(16);
		line-height: 1.5;

		@include breakMin($breakTablet) {}
	}

	&_number {
		@include fontsize(32);
		font-weight: 700;

		@include breakMin($breakTablet) {
			@include fontsize(40);
		}
	}

	&_count {
		display: block;
		margin-top: 20px;

		@include breakMin($breakTablet) {
			margin-top: 40px;
		}
	}

	&_bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 40px;

		@include breakMin($breakTablet) {}
	}

	&_form {
		display: block;
		width: 100%;
		margin-top: 20px;

		@include breakMin($breakTablet) {}
	}

	&_submit {
		margin-top: 20px;

		@include breakMin($breakTablet) {}
	}

	&_button {
		width: 300px;

		@include breakMin($breakTablet) {
			width: 350px;
		}
	}
}

//* counts
//* -------------------------------------------------- */
.c-counts {
	@include breakMin($breakTablet) {}

	&_items {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: -10px;

		@include breakMin($breakTablet) {
			margin: -20px;
		}

		.c-counts--size_small & {
			margin: -7.5px;

			@include breakMin($breakTablet) {}
		}
	}

	&_item {
		display: block;
		padding: 10px;

		@include breakMin($breakTablet) {
			padding: 20px;
		}

		.c-counts--size_small & {
			padding: 7.5px;

			@include breakMin($breakTablet) {}
		}
	}

	&_box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		width: 120px;
		height: 120px;
		border: solid 5px $colorFont;
		border-radius: 50%;

		@include breakMin($breakTablet) {
			width: 150px;
			height: 150px;
		}

		>* {
			// margin-top: 5px;

			&:first-child {
				margin-top: 0;
			}
		}

		.c-counts--size_small & {
			width: 80px;
			height: 80px;
			border-width: 3px;

			@include breakMin($breakTablet) {
				width: 65px;
				height: 65px;
			}
		}

		.c-counts_item--type_like & {
			color: $colorValid;
			border-color: $colorValid;
		}

		.c-counts_item--type_dislike & {
			color: $colorInValid;
			border-color: $colorInValid;
		}
	}

	&_number {
		display: block;
		@include fontsize(62);
		font-weight: 700;

		@include breakMin($breakTablet) {}

		.c-counts--size_small & {
			@include fontsize(34);

			@include breakMin($breakTablet) {}
		}
	}

	&_label {
		display: block;
		@include fontsize(18);
		font-weight: 700;
		letter-spacing: .05em;

		@include breakMin($breakTablet) {}

		.c-counts--size_small & {
			@include fontsize(14);

			@include breakMin($breakTablet) {}
		}
	}
}

//* link
//* -------------------------------------------------- */
.c-link {
	@include breakMin($breakTablet) {}

	a {
		text-decoration: none;
	}

	&_box {
		display: block;
		position: relative;
		padding-right: 20px;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			width: 12px;
			height: 12px;
			border: solid 2px transparent;
			border-top-color: $colorFont;
			border-right-color: $colorFont;
			transform: rotate(45deg) translate(-50%, -25%);
			transform-origin: 50% 50%;

			@include breakMin($breakTablet) {}
		}

		&:hover {
			color: $colorMain;

			&:after {
				right: -10px;
				border-top-color: $colorMain;
				border-right-color: $colorMain;
			}
		}

		.c-link--layout_back & {
			padding-left: 20px;
			padding-right: 0;

			&:after {
				left: 0;
				right: auto;
				border-left-color: $colorFont;
				border-right-color: transparent;
				transform: rotate(-45deg) translate(-50%, -50%);
				transform-origin: 25% -100%;
			}

			&:hover {
				&:after {
					left: -10px;
					border-left-color: $colorMain;
					border-right-color: transparent;
				}
			}
		}
	}

	&_label {
		display: block;
		@include fontsize(15);
		font-weight: 500;
		letter-spacing: .05em;
		line-height: 1.5;

		@include breakMin($breakTablet) {
			@include fontsize(18);
		}
	}
}
