@charset "utf-8";

// デスクトップのコンテンツ幅
$widthDesktop: 1200px;
$widthDesktop2: 800px;

// タブレットのコンテンツ幅
$widthTablet: 500px;

// メディア・タイプのコンテンツ幅
$widthMedia: 290px;

// タブレットのブレークポイント
$breakTablet: 1023px;

// スマートフォンのブレークポイント
$breakSmart: 479px;

// ベース文字サイズ
$baseFontSize: 16;

// ベース行間
$baseLineHeight: 1.6;

//カラー
$colorFont: #1b1b1b;
$colorMain: #ffd900;
$colorBg: #e3e3e3;
$colorLine: #c0c0c0;
$colorRed: #c73b3b;
$colorValid: #7fc73b;
$colorInValid: #c73b3b;

$fontGothic: '游ゴシック Medium',
'Yu Gothic Medium',
'游ゴシック体',
'YuGothicM',
'YuGothicM',
'游ゴシック',
YuGothic,
'Hiragino Kaku Gothic ProN',
'Hiragino Kaku Gothic Pro',
Meiryo,
メイリオ,
'ＭＳ ゴシック',
sans-serif;

$fontMincho: '游明朝',
YuMincho,
'Hiragino Mincho ProN',
'Hiragino Mincho Pro',
'HG明朝E',
'ＭＳ 明朝',
serif;

$fontBasic: 'Archivo',
'Zen Kaku Gothic Antique',
sans-serif;

$fontRoboto: 'Roboto',
sans-serif;

$fontArchivo: 'Archivo',
sans-serif;

// ブロック要素の左右の余白
$padding: 20px;

// ロールオーバーの値
$opacity: 0.7;

// 角丸
$bordeRadius: 4px;

// トランジションの速度
$transitionSpeed: 0.35;

// hover時の要素の拡大比率
$scaleValue: 1.15;

// CSS3ベンダープレフィックス
$prefixes: -webkit-,
-moz-,
-ms-,
'';
